<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.liwanyu.project_server.mapper.CommunicateMapper">
    

    <!-- creatCommunicate -->

    <insert id="creatCommunicate" parameterType="top.liwanyu.project_server.model.query.CommunicateQuery" useGeneratedKeys="true">
        INSERT INTO communicate (userIdOne, userIdTwo, createTime, content) VALUES (#{userIdOne}, #{userIdTwo}, #{createTime}, #{content});
    </insert>

    <!-- addCommunicate -->

    <update id="addCommunicate" parameterType="top.liwanyu.project_server.model.query.CommunicateQuery">
        UPDATE communicate SET `content` = #{content}, messageNum = (messageNum - 1) WHERE id = #{id};
    </update>

    <!-- getCommunicate -->
    <select id="getCommunicate" resultType="top.liwanyu.project_server.model.entity.CommunicateEntity" parameterType="top.liwanyu.project_server.model.query.CommunicateQuery">
        SELECT * FROM communicate WHERE (userIdOne = #{userIdOne} AND userIdTwo = #{userIdTwo})
                                     OR (userIdOne = #{userIdTwo} AND userIdTwo = #{userIdOne})
        ORDER BY createTime DESC LIMIT #{pageSize} OFFSET #{offset};
    </select>

    <!-- getCanAddCommunicate -->
    <select id="getCanAddCommunicate" resultType="top.liwanyu.project_server.model.entity.CommunicateEntity" parameterType="top.liwanyu.project_server.model.query.CommunicateQuery">
        SELECT * FROM communicate WHERE ((userIdOne = #{userIdOne} AND userIdTwo = #{userIdTwo})
                                     OR (userIdOne = #{userIdTwo} AND userIdTwo = #{userIdOne})) AND messageNum > 0;
    </select>


    <!-- getCommunicateList --> 

    <select id="getCommunicateList">
        SELECT `userIdOne` as `tmpId` FROM communicate WHERE `userIdTwo` = #{userId} UNION SELECT `userIdTwo` as `tmpId` FROM communicate WHERE `userIdOne` = #{userId};
    </select>
</mapper>
